<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>אזור אדמין</title>
    <link rel="stylesheet" href="Admin.css">
    <script src="session.js" defer></script>
</head>
<body>
    <!-- תפריט ניווט -->
    <header>
        <nav>
            <ul class="navbar">
                <li><a href="HomePage.html"><img src="12.png" alt="לוגו" class="logo"></a></li>
                <li><a href="HomePage.html">דף הבית</a></li>
                <li id="user-menu"></li>
            </ul>
        </nav>
    </header>

    <!-- תוכן הדף -->
    <main>
        <section id="admin-actions" class="section">
            <h1>ברוך הבא לאזור האדמין</h1>
            <p>כאן תוכל לבצע פעולות ניהול באתר:</p>
            <div class="admin-buttons">
                <button class="admin-action-button" onclick="window.location.href='Admin_UsersManage.html'">ניהול משתמשים</button>
                <button class="admin-action-button" onclick="window.location.href='Admin_SuppliersEdit.html'">צפייה בספקים קיימים</button>
                <button class="admin-action-button" onclick="window.location.href='Admin_AddSupplier.html'">להוספת ספק חדש</button>
                <button class="admin-action-button" onclick="window.location.href='Admin_contactUS.html'">צפייה בפניות</button>
                <button class="admin-action-button" onclick="window.location.href='Admin_ViewReviews.html'" >צפייה בדירוגים</button>
            </div>
        </section>
    </main>

    <!-- תחתית העמוד -->
    <footer>
        <p>&copy; YSDR - Team 17</p>
    </footer>
</body>
</html>
