#calculator-icon {
    position: fixed;
    bottom: 20px; /* מרחק מהתחתית */
    right: 20px; /* מרחק מהימין */
    width: 60px; /* התאמה לגובה האייקון השני */
    height: 60px; /* התאמה לרוחב האייקון השני */
    border: none; 
    border-radius: 50%; /* עיגול מושלם */
    background-color: black; /* צבע רקע */
    display: flex;
    align-items: center; /* ממרכז את האייקון אנכית */
    justify-content: center; /* ממרכז את האייקון אופקית */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* צל לתלת ממדיות */
    cursor: pointer; /* סמן לחיץ */
    outline: none;
    transition: transform 0.2s ease-in-out; /* אפקט מעבר */
}

#calculator-icon i {
    font-size: 36px; /* גודל האייקון */
    color: white; /* צבע האייקון */
}

#calculator-icon:hover {
    transform: scale(1.1); /* אפקט הגדלה קל */
    background-color: #333; /* שינוי צבע רקע בעת ריחוף */
}

#calculator-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px; 
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
}
#calculator-modal button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#calc-display {
    width: calc(100% - 10px); 
    font-size: 20px;
    margin-bottom: 10px;
    text-align: right;
    padding: 5px; 
    border: 1px solid #ddd; 
    border-radius: 4px;
    color: black;
}
#calc-buttons button {
    padding: 10px;
    font-size: 16px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: black;
}

#calc-buttons button:hover {
    background-color: #e0e0e0;
}
#calc-buttons {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(4, 1fr); 
    gap: 5px; 
}
