<!DOCTYPE html>
<link rel="stylesheet" href="ContactUs.css">
<head>
    <title>יצירת קשר</title>
    <h1>
        יצירת קשר
    </h1>
</head>

<body>
    <h1 id = "title">צור קשר</h1>
    <form id="contact_form">
        <!-- שדות יצירת קשר -->
        <div id="contact-fields">
            <input type="name" placeholder="שם" required>
            <input type="Phone number" placeholder="מספר טלפון" required>
            <input type="Subject" placeholder="נושא הפנייה" required>
            <button type="Send">שלח בקשה</button>
        </div>
</body>

<footer>
    <p>&copy;Event Planning 2024</p>
</footer>