<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>תכנון אירועים</title>
    <link rel="icon" href="/Templates/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="HomePage.css">
    <script src="session.js" defer></script>
    <script src="background.js" defer></script>
</head>
<body>
    <header>
        <nav>
            <ul class="navbar">
                <li><a href="HomePage.html"><img src="12.png" alt="לוגו" class="logo"></a></li>
                <li><a href="HomePage.html">דף הבית</a></li>
                <li><a href="we.html">איך משתמשים?</a></li>
                <li><a href="ContactUs.html">צור קשר</a></li>
                <li><a href="Reviews.html">דרגו אותנו</a></li>
                <li id="user-menu"></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="reviews-marquee">
            <div class="reviews-content">
                <div class="review-card">
                    <span class="reviewer">שירן ומתן לוי</span>
                    <span class="review-title">"האתר עזר לנו מאוד! לא יודעים איך היינו מסתדרים בלעדיו.."</span>
                    <span>★★★☆☆</span>
                </div>
                <div class="review-card">
                    <span class="reviewer">נועם בן חמו</span>
                    <span class="review-title">"פלטפורמה מעולה וחוסכת המון כאבי ראש.."</span>
                    <span>★★★★★</span>
                </div>
                <div class="review-card">
                    <span class="reviewer">שלומי בוזגלו</span>
                    <span class="review-title">"שירות מצויין"</span>
                    <span>★★★★☆</span>
                </div>
            </div>
        </section>
        

        <div id="text">
            <span class="title">קצת עלינו</span>
            <span class="hidden-text">
                אנחנו ב-YSDR מסייעים בתכנון אירועים, מקטנים ועד גדולים, כדי לחסוך לכם זמן ומאמץ. עם המערכת שלנו, תכנון האירוע הופך לתהליך פשוט, יעיל ונוח שבו הכל קורה במקום אחד. הצטרפו אלינו והפכו את האירוע שלכם למציאות.
            </span>
        </div>
        
        

        <section id="home" class="section">
            <a href="EventSelector.html">
                <button class="plan-event-button">תכנן את האירוע הבא שלך</button>
            </a>
        </section>
    </main>
    <footer>
        <p>&copy;YSDR - Team 17</p>
    </footer>
</body>
</html>
