<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>אולמות</title>
    <link rel="stylesheet" href="view.css">
</head>
<body>
    <h1>רשימת אולמות</h1>
    <table>
        <thead>
            <tr>
                <th>שם אולם</th>
                <th>איזור</th>
                <th>עיר</th>
                <th>מחיר</th>
            </tr>
        </thead>
        <tbody id="halls-table">
        </tbody>
    </table>
    <script src="view.js"></script>
</body>
</html>
