<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>מי אנחנו?</title>
    <link rel="stylesheet" href="we.css">
    <script src="session.js" defer></script>
</head>
<body>
    <header>
        <nav>
            <ul class="navbar">
                <li><a href="HomePage.html"><img src="12.png" alt="לוגו" class="logo"></a></li>
                <li><a href="HomePage.html">דף הבית</a></li>
                <li><a href="we.html">איך משתמשים?</a></li>
                <li><a href="ContactUs.html">צור קשר</a></li>
                <li id="user-menu"></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="home" class="section">
            <h1> איך משתמשים?</h1>
            <p>     
    אנחנו, חברת YSDR, ישבנו וחשבנו איך נוכל באמת לעזור לבעיה מהותית ומשמעותית בחברה.<br>
    כאשר דן כהן, חבר הקבוצה, סיפר לנו במקרה על הבעייתיות שקיימת לאחותו ובן זוגה בתכנון החתונה שלהם, ידענו שזו בעיה חשובה שאותה נוכל לפתור באמצעות המערכת<br>
    מטרתנו ביצירת המערכת היא לגרום לתהליך הקמת האירוע להיות פשוט יותר והרבה פחות מאתגר, בין אם זה פסטיבל ענק ובין אם זו מסיבת יום הולדת.<br>
    למעשה, המשתמש אשר יממש את שירותי האתר, יחסוך לעצמו זמן יקר ומאמצים רבים בחשיבה והתלבטויות עבור האירוע שלו.. <br>
    כאשר המשתמש יפתח את האתר, הוא יצטרך לפתוח חשבון חדש בפעם הראשונה, למטרת שמירת הנתונים שלו כאשר ירצה להפסיק את השימוש באתר ולחזור בדיוק למקום בו עצר בפעם האחרונה <hr>
    המשתמש יצטרך לענות על שאלות מנחות, אשר מטרתן למצות את חשיבתו לגבי האירוע אותו הוא רוצה להקים, ובעזרת תשובותיו לשאלות, תעזור לו ותציג בפניו את האופציות הקיימות בהתאם לבחירותיו בלבד! <br>
    בסיום התהליך, יוכל המשתמש לייצא את ההחלטות אותן קיבל למסמך מסודר, כך שיוכל להשוות בין הצעות שונות ובין ספקים שונים <br>
    מטרת המערכת היא להפוך את תהליך האירוע לקל ופשוט יותר עבור כל משתמש, בין אם מפיק אירועים מנוסה, ובין אם זוג צעירים שמתכננים חתונה בקרוב<br>
    מקווים שהצלחנו לעזור! תהנו!
    <hr/>
            </p>
        </section>
    </main>
    <footer>
        <p>&copy;Event Planning 2024</p>
    </footer>
</body>
</html>
